/* start Global Rules */
:root {
    --myfont:'Press Start 2P';
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Kufam', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(25, 24, 24);
}
/* end global rules */
.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31, 28, 28);
    color: white;
    z-index: 2;
    transition: 1s;
}
.showcase.active {
    right: 300px;
}
.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 29px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    z-index: 1000;
}

header .logo {
    display: flex;
    padding: 20px;
    margin: 20px;
    font-family: var(--myfont);
    font-size: 10px;
    align-items: center;
    width: 280px;
    justify-content: space-evenly;
    text-transform: uppercase;
    cursor: pointer;
}
header .logo span {
    font-size: 15px;
    font-family: 'Kufam';
}
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    font-size: 45px;
    text-align: center;
    cursor:pointer;
    
}
.toggle .fa-solid.fa-xmark {
    display:none;
}
.toggle.active .fa-solid.fa-xmark {
    display:contents;

}
.toggle.active .links .icons {
    display: none;
}
.links{
    position: relative;
}
.links .icons {
    width: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.links .icons span {
    background-color: rgb(240, 233, 233);
    margin-bottom: 8px;
    height: 4px;
    z-index: 20;
}
.links .icons span:first-child{
    
    width: 100px;
} .links .icons span:nth-child(2){
    
    width: 60%;
    transition: 0.3s;
}
.links .icons span:last-child{
    width: 100%;
}
.links:hover .icons span:nth-child(2){
    width: 100%;
}

.showcase .image {
    width: 70px;
    ;
}
.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

.text {
    z-index: 10;
    position: relative;
}
.text h3 {
    font-size: 50px;
    font-family: var(--myfont) ;
    letter-spacing: -1px;
    word-spacing: -55px;
    font-weight: 800;
    line-height: 1.6;
}
.text h3 span {
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: -12px;
    
}
.text h2 {
    font-family: var(--myfont);
    font-size: 18px;
    max-width: 200px;
    padding-bottom: 15px;
}
.text p {
    font-family: var(--myfont);
    font-size: 12px;
    font-style: italic;
    max-width: 700px;
    line-height: 1.3;
    color: #b2b2c0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(41, 44, 50);
    mix-blend-mode: overlay;
}
.social {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.social i {
    color: white;
    width: 20px;
    padding-right: 24px;
    font-size: 20px;
    
}
.social li {
    text-decoration: none;
    list-style: none;
    
}
.social li a {
    display:inline-flex;
    text-decoration: none;
    margin: 13px;
    cursor: pointer;
    color: white;
    word-spacing: 8px;
    transition: 1s;
    font-family: var(--myfont);
    font-size: 15px;
    align-items: center;
    
}
.social li a:hover {
    transform: translateY(-15px);
}
@media (max-width:991px) {
    .showcase,
    .showcase header {
        padding: 40px;
    }
    header .logo {
        font-size: 7px;
        margin-left: -7%;
        margin-right: 20%;
    }
    .links .icons {
        width: 35px;
    }
    .links .icons span{
        margin-bottom: 5px;
        height: 2px;
    }
    .toggle{
        font-size: 30px;
        padding-top: 15px;
    }
    .showcase .image {
        width: 50px;
    }
    .text h2 {
        font-size: 15px;
        max-width: 150px;
    }
    .text h3 {
        font-size: 28px;
        word-spacing: -23px;

    }
    .text h3 span{
        font-size: 10px;
        letter-spacing: 1px;
    }
    .text p {
        font-size: 10px;
        max-width: 450px;
    }
    .social{
        left: 10px;
    }
    .social li a {
        font-size: 9px;
    }
    .social i {
        font-size: 15px;
    }
}
.menu {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.menu .container {
    margin: 15px;
}
.menu .header {
    top: 0;
    font-family: var(--myfont);
}
.menu .container .col .images {
    text-align: center;
    position: relative;
    padding-right: 60px;
    
}
.menu .container .col {
    margin: 5px;
}
.menu .container .col .images img {
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 50%;
}
.menu .container .text {
    z-index: 1;
    text-align: center;
    
}
.menu .header h1 {
    letter-spacing: -1px;
    word-spacing: -30px;
    padding-right: 20px;
}
.menu .container .text h2 {
    font-size: 14px;
    padding-bottom: 8px;
}
.menu .container .text p {
    font-size: 10px;
    text-align: -webkit-auto;
    font-style: normal;
}
@media (max-height:860px) {
    .menu .container {
        padding-top: 20px;
        padding-right: 17px;
    }
    .menu .container .col .images img {
        width: 50;
        height: 50px;
        margin: 5px;
        padding-right: 5px;
    }
    .menu .container .col .images {
        padding-right: 82px
    }
    .menu .header h1 {
        font-size: small;
        padding-right: 85px;
        margin: -10px;
        padding-top: 5px;
        letter-spacing: normal;
        word-spacing: normal;
    }
    
    .menu .container .text h2 {
        font-size: 11px;
        padding-bottom: 4px;
    }
    .menu .container .text p {
        font-size: 9px;
    }
}

